apiVersion: v1
kind: Service
metadata:
  name: demo-app2
  labels:
    app: demo-app2
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: demo-app2
